/.idea
/BreakButtonProcess
/CentralizedControl
/CentralizedControl.zip
/ClassScreenLock.sln
/ClassScreenLock.sln.DotSettings.user
/MonitorProcess
/my-website
/NuGet.Config
/publish
/publish.bat
/uiaccess
/Watchdog
/下载
/发布说明.md
/对话.txt
/screenshot-1.png
/WebSocket升级说明.md

# Build artifacts
**/bin/
**/obj/
**/__pycache__/
**/*.pyc
**/.idea/
**/classscreenlock.db
**/ffmpeg.exe
**/.manifest
**/*.user
*.suo
*.sln.docstates